In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
protein_one = pd.read_csv('/Users/jonathanfarro/Desktop/animal-protein-consumption.csv')

life_ex = pd.read_csv('/Users/jonathanfarro/Desktop/ Capstone Files/life-expectancy-hmd-unwpp.csv')

usa_pricing = pd.read_csv('/Users/jonathanfarro/Desktop/ Capstone Files/average_prices_for_food.csv')

daily_cals = pd.read_csv('/Users/jonathanfarro/Desktop/ Capstone Files/daily-caloric-supply-derived-from-carbohydrates-protein-and-fat.csv')

fruit_per_cap = pd.read_csv('/Users/jonathanfarro/Desktop/ Capstone Files/fruit-consumption-per-capita.csv')

veg_per_cap = pd.read_csv('/Users/jonathanfarro/Desktop/ Capstone Files/vegetable-consumption-per-capita/vegetable-consumption-per-capita.csv' )

vitamins =  pd.read_excel('/Users/jonathanfarro/Desktop/ Capstone Files/food_comp.xlsx')

protein_per_GDP = pd.read_csv('/Users/jonathanfarro/Desktop/ Capstone Files/daily-per-capita-protein-supply-vs-gdp-per-capita.csv')

daily_cals.head()

,Entity,Code,Year,Daily calorie supply per person that comes from animal protein,Daily calorie supply per person that comes from vegetal protein,Daily calorie supply per person from fat,Daily calorie supply per person from carbohydrates
0,Afghanistan,AFG,1961,55.128870,290.84247,343.88312,2365.0508
1,Afghanistan,AFG,1962,54.959705,283.36050,345.01690,2289.9097
2,Afghanistan,AFG,1963,57.932200,256.69678,354.04938,2083.1013
3,Afghanistan,AFG,1964,58.493233,282.30234,357.72510,2314.9219
4,Afghanistan,AFG,1965,61.008570,281.43982,365.04077,2310.2708

In [3]:
# rename columns to something easier to work with 

protein = protein_one.rename(columns={
                        protein_one.columns[3]:'fish',
                        protein_one.columns[4]:'poultry',
                        protein_one.columns[5]:'pork',
                        protein_one.columns[6]:'beef',
                        protein_one.columns[7]:'sheep/goat',
                        protein_one.columns[8]:'other',
                        protein_one.columns[9]:'eggs',
                        protein_one.columns[10]:'milk'
                       })

In [4]:
# bulk clean up 
protein = protein.rename(columns=lambda x: x.lower())
protein = protein.map(lambda x: x.lower() if isinstance(x, str) else x).reset_index(drop=True)

life_ex = life_ex.rename(columns = lambda x: x.lower())
life_ex = life_ex.map(lambda x:x.lower() if isinstance(x,str) else x).reset_index(drop = True)

vitamins = vitamins.rename(columns = lambda x: x.lower())
vitamins = vitamins.map(lambda x:x.lower() if isinstance(x,str) else x).reset_index(drop = True)

protein_per_GDP = protein_per_GDP.rename(columns = lambda x: x.lower())
protein_per_GDP = protein_per_GDP.map(lambda x:x.lower() if isinstance(x,str) else x).reset_index(drop = True)
protein_gdp = protein_per_GDP.drop(columns= protein_per_GDP.columns[6])

usa_pricing = usa_pricing.drop(columns= usa_pricing.columns[0])

daily_cals = daily_cals.rename(columns = lambda x: x.lower())
daily_cals = daily_cals.map(lambda x:x.lower() if isinstance(x,str) else x).reset_index(drop = True)
daily_cals.head()

,entity,code,year,daily calorie supply per person that comes from animal protein,daily calorie supply per person that comes from vegetal protein,daily calorie supply per person from fat,daily calorie supply per person from carbohydrates
0,afghanistan,afg,1961,55.128870,290.84247,343.88312,2365.0508
1,afghanistan,afg,1962,54.959705,283.36050,345.01690,2289.9097
2,afghanistan,afg,1963,57.932200,256.69678,354.04938,2083.1013
3,afghanistan,afg,1964,58.493233,282.30234,357.72510,2314.9219
4,afghanistan,afg,1965,61.008570,281.43982,365.04077,2310.2708

In [5]:
# creating a new column to show total_protein intake for a day.
protein['total_protein'] = protein.iloc[:, 3:11].sum(axis = 1).round(2)
protein['total_yearly_protein'] = (protein['total_protein'] * 365).round()
protein.head()

,entity,code,year,fish,poultry,pork,beef,sheep/goat,other,eggs,milk,total_protein,total_yearly_protein
0,afghanistan,afg,1961,0.010186,0.224101,NaN,2.027096,3.167975,0.366711,0.285220,6.346136,12.43,4537.0
1,afghanistan,afg,1962,0.010193,0.234435,NaN,2.109914,3.068040,0.377134,0.305785,6.268587,12.37,4515.0
2,afghanistan,afg,1963,0.010199,0.234585,NaN,2.131660,3.131195,0.458970,0.305980,6.813153,13.09,4778.0
3,afghanistan,afg,1964,0.010205,0.244912,NaN,2.122574,3.224680,0.438801,0.316345,6.857546,13.22,4825.0
4,afghanistan,afg,1965,0.010209,0.255223,NaN,2.103040,3.338321,0.469611,0.326686,7.319804,13.82,5044.0

In [6]:
fruit_per_cap = fruit_per_cap.rename(columns=lambda x: x.lower())
fruit_per_cap = fruit_per_cap.map(lambda x: x.lower() if isinstance(x, str) else x).reset_index(drop=True)
#fruit_per_cap.head()
fruit = fruit_per_cap.rename(columns = {fruit_per_cap.columns[3]:'fruit_kilo_yearly'}).reset_index(drop = True)

In [7]:
world_protein = protein.loc[protein['entity']== "world"]
world_protein = world_protein.map(lambda x: x.lower() if isinstance(x, str) else x).reset_index(drop=True)
world_protein.head()

,entity,code,year,fish,poultry,pork,beef,sheep/goat,other,eggs,milk,total_protein,total_yearly_protein
0,world,owid_wrl,1961,2.661997,1.042947,2.165356,3.595682,0.685365,0.407246,1.370730,6.724522,18.65,6807.0
1,world,owid_wrl,1962,2.790629,1.072555,2.244420,3.724149,0.695175,0.407174,1.380418,6.693537,19.01,6939.0
2,world,owid_wrl,1963,2.881373,1.099080,2.376390,3.822027,0.673311,0.396065,1.366424,6.762810,19.38,7074.0
3,world,owid_wrl,1964,2.863391,1.115735,2.389451,3.791525,0.661542,0.394951,1.392201,6.694412,19.30,7044.0
4,world,owid_wrl,1965,2.997417,1.183191,2.534001,3.796071,0.650755,0.384537,1.400109,6.566710,19.51,7121.0

In [8]:
#In essence, this code helps you understand the minimum 'total_protein' values observed in years where 'protein' consumption was at its lowest

In [9]:
protein.groupby(['year','entity']).agg({'total_protein': 'min'}).head()

                   total_protein
year entity
1961 afghanistan           12.43
     africa                 9.50
     africa (fao)           9.84
     albania               16.54
     algeria               10.29

In [11]:
#loop to classify food groups?

In [12]:
# cleaning population table 
population = population.rename(columns=lambda x: x.lower())

NameError: name 'population' is not defined

In [ ]:
fruit_protein = pd.merge(protein,fruit, on = ['entity','code','year'],how= 'inner')

In [ ]:
veg = veg_per_cap.rename(columns=lambda x: x.lower())
veg = veg.map(lambda x: x.lower() if isinstance(x, str) else x).reset_index(drop=True)
veg = veg.rename(columns = {veg.columns[3]:'veg_kilo_yearly'})

In [ ]:
all_foods = pd.merge(fruit_protein, veg, on = ['entity','code','year'],how= 'inner')

In [ ]:
all_foods['fruit_grams_daily'] = (all_foods['fruit_kilo_yearly'] * 1000/365).round()
all_foods['veg_grams_daily']   = (all_foods['veg_kilo_yearly'] * 1000/365).round()

In [ ]:
all_foods.head()